.container{
    
    padding: 15px;
    background-color: #fff;
    margin: 10;
    width: 700px;
    border: 1px solid grey;

  }
  
  .row{
    display: flex;
    margin: 0;
    padding: 0;

  }
  
  .column {
    display: inline-block;
    flex: 50%;
    margin-right: 1em;
   
  }
  
  h1{

    font-size: 32px;
  }

  .accordion {
    
    width: 100%;
    color: #444;
    cursor: pointer;
    margin: 10px 0;
    padding: 10 0;
    outline: none;
    transition: 0.4s;
  }
  .panel {
      
    background-color: rgb(243, 246, 253);
    display: none;
    overflow: hidden;
  }
  
  
  .accordion-trigger {
    background: none;
    color: hsl(0, 0%, 13%);
   
    font-size: 20px;
    font-weight: normal;


    position: relative;
    text-align: left;
  
    outline: none;
  }
  
  .accordion-icon {
   
    border: solid hsl(0, 0%, 62%);
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 0.5rem;
  }
  .accordion-trigger:focus .accordion-icon,
  .accordion-trigger:hover .accordion-icon {
    border-color: black;
  }
  /* .accordion-trigger[aria-expanded="true"] .accordion-icon::after {
    
    -webkit-transform: translateY(30%) rotate(-135deg);
    -moz-transform: translateY(30%) rotate(-135deg);
    transform: translateY(30%) rotate(-135deg);
} */




input, button{


padding:22px 0;
border-radius: 5px;


}

.labels{

    font-size: 19px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

input{
  
  width: 98%;
  margin-top: 10px;
  
  
}